body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #007bff;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}

/*Password visibility*/
.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 35%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-icon,
.user-icon {
  font-size: 24px;
  cursor: pointer;
}

.user-icon {
  font-size: 20px;
  margin-right: 5px;
}

.user-menu {
  display: flex;
  align-items: center;
}

.logout a {
  text-decoration: none;
  color: white;
}

center {
  margin-top: 50px;
}

h1 {
  color: #333;
}

.menu-options {
  display: none;
  position: absolute;
  top: 100%; /* Adjusted to position below the header */
  left: 0;
  width: 20%;
  height: 1000%;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  z-index: 1;
  text-align: center;
}

.menu-options a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 0;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-menu {
    margin-top: 10px;
  }

  .menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
